<tr>
  <td class="project-title">
    <%= link_to judgement.submission.title, judgement, class: 'is-size-5' %>
    <p class="is-size-7 is-italic">Scheduled at: <b class="is-size-6"><%= judgement.time %></b></p>
  </td>
  <td class="<%= 'editable' if judgement.technical_vote&.user == current_user %>"><%= render judgement.technical_vote, kind: :technical if judgement.technical_vote %></td>
  <td class="<%= 'editable' if judgement.product_vote&.user == current_user %>"><%= render judgement.product_vote, kind: :product if judgement.product_vote %></td>
  <td class="<%= 'editable' if judgement.concept_vote&.user == current_user %>"><%= render judgement.concept_vote, kind: :concept if judgement.concept_vote %></td>

  <%= turbo_stream_from judgement, :votes %>

</tr>
