<div class="content">
  <h1 class="title"><%= @submission.title %></h1>
  <p><%= @submission.description %></p>

  <div class="grid" id="votes">
    <div class="cell <%= 'editable' if @judgement.technical_vote.user == current_user %>">
      <%= render 'votes/vote', vote: @judgement.technical_vote, kind: :technical %>
    </div>
    <div class="cell <%= 'editable' if @judgement.product_vote.user == current_user %>">
      <%= render 'votes/vote', vote: @judgement.product_vote, kind: :product %>
    </div>
    <div class="cell <%= 'editable' if @judgement.concept_vote.user == current_user %>">
      <%= render 'votes/vote', vote: @judgement.concept_vote, kind: :concept %>
    </div>
  </div>

  <% if @judgement.completed? || current_user.organizer? %>
    <%= link_to "javascript:history.back()", class: "button is-light" do %>
      <%= lucide_icon "arrow-big-left" %>
      <span>Back</span>
    <% end %>
  <% end %>

  <%= turbo_stream_from @judgement, :votes %>

</div>
