<div class="content">
  <% if @judgements.empty? %>
    <p>
      You have not judged any projects yet.
    </p>
  <% else %>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Project</th>
          <th>Technical Score</th>
          <th>Product Score</th>
          <th>Concept Score</th>
        </tr>
      </thead>
      <tbody>
        <% @judgements.each do |judgement| %>
          <%= turbo_stream_from judgement, :votes %>
          <tr>
            <td class="project-title"><%= link_to judgement.submission.title, edit_judgement_path(judgement, no_redirect: true), class: 'is-size-5' %></td>
            <td class="<%= 'editable' if judgement.technical_vote.user == current_user %>"><%= render judgement.technical_vote, kind: :technical %></td>
            <td class="<%= 'editable' if judgement.product_vote.user == current_user %>"><%= render judgement.product_vote, kind: :product %></td>
            <td class="<%= 'editable' if judgement.concept_vote.user == current_user %>"><%= render judgement.concept_vote, kind: :concept %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= button_to "Judge another project", judgements_path, class: "button is-primary is-large" %>
</div>
