<div class="content" id="judgements">
  <% if [:registration, :hacking].include? Setting.hackathon_stage %>
    <p class="title">
      Judging starts at <%= Setting.judging_start_time %> on Sunday.
    </p>
    <p class="subtitle">
      Before that time, you can browse the <%= link_to "projects", submissions_path %> or <%= link_to "hacking teams", hacking_teams_path %> at your own leisure.
    </p>
  <% elsif Setting.hackathon_stage == :judging %>

    <% if @judgements.empty? %>
      <p>
        You have not judged any projects yet.
      </p>
    <% else %>
      <table class="table is-fullwidth <%= class_names(
          "technical-judge" => @judging_team.technical_judge == current_user,
          "product-judge" => @judging_team.product_judge == current_user,
          "concept-judge" => @judging_team.concept_judge == current_user ) %>">
        <thead>
          <tr>
            <th>Project</th>
            <th>Technical Score</th>
            <th>Product Score</th>
            <th>Concept Score</th>
          </tr>
        </thead>
        <tbody id="<%= dom_id(@judging_team, :judgements) %>">
          <%= render @judgements %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <p>Judging is no longer possible.</p>
    <p>Here are the judgements of your <%= @judging_team %> team.</p>
    <p>Preliminary results are available at <%= link_to "the results page", results_submissions_path %>.</p>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Project</th>
          <th>Technical Score</th>
          <th>Product Score</th>
          <th>Concept Score</th>
          <th>Total Score</th>
        </tr>
      </thead>
      <tbody id="<%= dom_id(@judging_team, :judgements) %>">
        <%= render @judgements %>
      </tbody>
    </table>
  <% end %>
</div>

<% if %i[judging finalizing].include? Setting.hackathon_stage %>
  <%= turbo_stream_from @judging_team, :judgements %>
  <%= turbo_stream_from @judging_team, :judgement_redirects %>
<% end %>
