<div class="content" id="<%= dom_id @judgement %>">
  <h1 class="title"><%= @submission.title %></h1>
  <p><%= @submission.decorate.formatted_description %></p>

  <div class="grid" id="votes">
    <div class="cell <%= 'editable' if @judgement.technical_vote && policy(@judgement.technical_vote).update? %>">
      <%= render @judgement.technical_vote, kind: :technical %>
    </div>
    <div class="cell <%= 'editable' if @judgement.product_vote && policy(@judgement.product_vote).update? %>">
      <%= render @judgement.product_vote, kind: :product %>
    </div>
    <div class="cell <%= 'editable' if @judgement.concept_vote && policy(@judgement.concept_vote).update? %>">
      <%= render @judgement.concept_vote, kind: :concept %>
    </div>
  </div>

  <div class="buttons">
    <% if policy(@judgement).complete? %>
      <%= button_to complete_judgement_path(@judgement), class: "button is-success", data: { turbo_frame: dom_id(@judgement) } do %>
        <%= lucide_icon "circle-check-big", class: "icon is-small" %>
        <span>I'm done</span>
      <% end %>
    <% else %>
      <%= link_to "javascript:navigateBackOrUp()", class: "button is-light" do %>
        <%= lucide_icon "arrow-big-left", class: 'icon is-small' %>
        <span>Back</span>
      <% end %>
    <% end %>
  </div>
</div>

<%= turbo_stream_from @judgement, :votes %>
