<div class="content" id="<%= dom_id @judgement %>">
  <div class="columns">
    <div class="column">
      <h1 class="title"><%= @submission.title %></h1>
      <p><%= @submission.decorate.formatted_description %></p>

      <% if @submission.repo_url.present? %>
        <p>
          <%= link_to @submission.repo_url, target: "_blank" do %>
            <%= lucide_icon @submission.decorate.repo_icon_class, class: "icon is-small" %>
            <span><%= @submission.repo_url %></span>
          <% end %>
        </p>
      <% end %>
      <% if @submission.pitchdeck_url.present? %>
        <p>
          <%= link_to @submission.pitchdeck_url, target: "_blank" do %>
            <%= lucide_icon "presentation", class: "icon is-small" %>
            <span><%= truncate @submission.pitchdeck_url, length: 60 %></span>
          <% end %>
        </p>
      <% end %>
    </div>

    <div class="column is-3">
      <div class="is-block">
        <p>Submitted by:</p>
        <p class="subtitle">
          <%= link_to @submission.hacking_team.name, @submission.hacking_team %>
        </p>
        <% @submission.hacking_team.hackers.each do |hacker| %>
          <p><%= hacker.name %></p>
        <% end %>
      </div>

    </div>
  </div>

  <div class="columns" id="votes">
    <div class="column <%= 'editable' if @judgement.technical_vote && policy(@judgement.technical_vote).update? %>">
      <%= render template: 'votes/_vote_expanded', locals: { vote: @judgement.technical_vote, kind: :technical } %>
    </div>
    <div class="column <%= 'editable' if @judgement.product_vote && policy(@judgement.product_vote).update? %>">
      <%= render template: 'votes/_vote_expanded', locals: { vote: @judgement.product_vote, kind: :product } %>
    </div>
    <div class="column <%= 'editable' if @judgement.concept_vote && policy(@judgement.concept_vote).update? %>">
      <%= render template: 'votes/_vote_expanded', locals: { vote: @judgement.concept_vote, kind: :concept } %>
    </div>
  </div>

  <div class="level">
    <% if policy(@judgement).complete? %>
      <div class="level-left">
        <%= button_to complete_judgement_path(@judgement), class: "button is-success", data: { turbo_frame: dom_id(@judgement) } do %>
          <%= lucide_icon "circle-check-big", class: "icon is-small" %>
          <span>I'm done</span>
        <% end %>
      </div>

      <%= button_to no_show_judgement_path(@judgement), class: "button is-danger", data: { turbo_confirm: "Are you sure?" } do %>
        <%= lucide_icon "ban", class: "icon is-small" %>
        <span>Mark as "No show"</span>
      <% end %>
    <% else %>
      <%= link_to "javascript:navigateBackOrUp()", class: "button is-light" do %>
        <%= lucide_icon "arrow-big-left", class: 'icon is-small' %>
        <span>Back</span>
      <% end %>
    <% end %>
  </div>
</div>

<% if Setting.hackathon_stage == :judging && current_user.judge? %>
  <%= turbo_stream_from @judgement, :votes %>
  <%= turbo_stream_from @judging_team, :judgement_redirects %>
<% end %>

<% if policy(JudgementComment).show? %>
  <div id="<%= dom_id(@judgement, :comments) %>" class="panel is-light">
    <p class="panel-heading">Comments <span class="has-text-weight-normal has-text-grey is-size-6">(only visible to other judges and hackathon organizers)</span></p>
    <%= render @judgement.comments %>
  </div>

  <% if policy(@new_comment).create? %>
    <%= render "judgement_comments/form", judgement_comment: @new_comment %>
  <% end %>

  <%= turbo_stream_from @judgement, :comments %>
<% end %>
