<div class="block">
  <p class="title"><%= Submission::HUMAN_READABLE_EXCELLENCE_TRACKS[@team.track] %></p>
  <p class="subtitle">Excellence Award</p>
</div>

<% if %i[registration hacking].include?(Setting.hackathon_stage) %>
  <div class>
    <p>
      The hackathon is still ongoing.
    </p>
    <p>
      You will be able to judge projects as soon as the judging phase begins.
    </p>
    <p>
      In the meantime, you can <%= link_to "browse projects", submissions_path %> and <%= link_to "hacking teams", hacking_teams_path %>.
    </p>
  </div>
<% elsif Setting.hackathon_stage == :judging %>

  <div>
    <table class="table is-fullwidth">
      <colgroup>
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: <%= 85 - 3*@teammates.count %>%;">
        <% @teammates.each do |_| %>
          <col span="1" style="width: 3%;">
        <% end %>
      </colgroup>
      <thead>
        <tr>
          <th>Project</th>
          <th>URLs</th>
          <th>Your score</th>
          <% @teammates.each do |teammate| %>
            <th><%= teammate.name %>'s score</th>
          <% end %>
        </tr>
      </thead>
      <tbody><%= render collection: @submissions, partial: 'excellence_judgements/submission', locals: { teammates: @teammates } %></tbody>
    </table>
  </div>

  <%= turbo_stream_from @team %>

<% else %>
  <%# TODO Show the rankings sorted here; and allow Orgs to intervene %>
<% end %>
