<div class="team block" id="<%= dom_id @team %>">
  <% if current_user&.hacking_team == @team && policy(@team).leave? %>
    <%= button_to hacking_team_leave_path(@team), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "button is-danger is-pulled-right" do %>
      <%= lucide_icon "door-open", class: 'icon is-small' %>
      <span>Leave this team</span>
    <% end %>
  <% else %>
    <% if policy(@team).apply? %>
      <%= button_to hacking_team_apply_path(@team), method: :post, class: "button is-success is-pulled-right", disabled: @already_applied do %>
        <% if @already_applied %>
          <%= lucide_icon "user-check", class: 'icon is-small' %>
          <span>Already applied</span>
        <% else %>
          <%= lucide_icon "smile-plus", class: 'icon is-small' %>
          <span>Apply to join</span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <p class="is-size-3 <%= 'has-text-success' if current_user&.hacking_team == @team %>"><%= @team.name %></p>
  <p class="agenda"><%= @team.agenda %></p>

  <% if policy(@team).list_members? && @team.hackers.any? %>
    <h2 class="is-size-4">Members</h2>
    <div class="members tags are-medium">
      <% @team.hackers.each do |hacker| %>
        <span class="member tag <%= 'is-success is-light' if current_user==hacker %>" id="<%= dom_id hacker %>">
          <%= hacker.decorate.readable_name %>
        </span>
      <% end %>
    </div>
  <% end %>

  <% if @pending_applications.any? && policy(@team).accept? %>
    <h2 class="is-size-4">Pending applications</h2>
    <div class="field is-grouped is-grouped-multiline">
      <% @pending_applications.each do |application| %>
        <div class="control">
          <div class="tags has-addons is-medium">
            <span class="tag">
              <%= application.user.decorate.readable_name %>
            </span>
            <%= button_to hacking_team_accept_path(@team, application), method: :post, class: "tag is-success is-light" do %>
              <%= lucide_icon "check", class: 'icon is-small' %>
            <% end %>
            <%= button_to hacking_team_reject_path(@team, application), method: :delete, class: "tag is-danger is-light" do %>
              <%= lucide_icon "x", class: 'icon is-small' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @rejected_applications.any? && policy(@team).accept? %>
    <h2 class="is-size-5 is-light">Rejected applications</h2>
    <div class="tags">
      <% @pending_applications.each do |application| %>
        <div class="tags has-addons is-small">
          <span class="member tag">
            <%= application.user.decorate.readable_name %>
          </span>
          <span class="tag">
          <%= button_to hacking_team_accept_path(@team, application), method: :post, class: "tag is-success is-light" do %>
            <%= lucide_icon "check", class: 'icon is-small' %>
            <span>Restore</span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @team.submissions.present? %>
    <h2 class="is-size-4">Team's submissions</h2>
    <%= render @team.submissions %>
  <% end %>
</div>
