<div class="team block" id="<%= dom_id @team %>">
  <% if policy(@team).edit? %>
    <%= link_to edit_hacking_team_path(@team), class: "button is-primary is-light" do %>
      <%= lucide_icon "pencil", class: 'icon is-small' %>
      <span>Edit</span>
    <% end %>
  <% end %>

  <% if current_user&.hacking_team == @team && policy(@team).leave? %>
    <%= button_to hacking_team_leave_path(@team), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "button is-danger is-pulled-right" do %>
      <%= lucide_icon "door-open", class: 'icon is-small' %>
      <span>Leave this team</span>
    <% end %>
  <% elsif policy(@team).apply? %>

      <% if @already_rejected %>
        <button class="button is-disabled is-pulled-right is-danger"
          title="Rejected by <%= @current_user_application.decided_by.decorate.readable_name %> <%= time_ago_in_words @current_user_application.decided_at %> ago" disabled>
          <%= lucide_icon "user-x", class: 'icon is-small' %>
          <span>Rejected</span>
        </button>
      <% elsif @already_applied %>
        <button class="button is-disabled is-pulled-right is-warning" disabled>
          <%= lucide_icon "user-check", class: 'icon is-small' %>
          <span>Already applied</span>
        </button>
      <% else %>
        <%= button_to hacking_team_apply_path(@team), method: :post, class: "button is-success is-pulled-right" do %>
          <%= lucide_icon "smile-plus", class: 'icon is-small' %>
          <span>Apply to join</span>
        <% end %>
      <% end %>

  <% end %>

  <p class="is-size-3 <%= 'has-text-success' if current_user&.hacking_team == @team %>"><%= @team.name %></p>
  <p class="agenda"><%= @team.decorate.formatted_agenda %></p>

  <% if policy(@team).list_members? && @team.hackers.any? %>
    <h2 class="is-size-4">Members</h2>
    <div class="members field is-grouped is-grouped-multiline">
      <% @team.hackers.each do |hacker| %>
        <div class="control">
          <% if current_user == hacker %>
            <div class="member tags has-addons are-large" id="<%= dom_id hacker %>">
              <span class="tag is-success is-light">
                <%= hacker.decorate.readable_name %>
              </span>
            </div>
          <% else %>
            <div class="member tags has-addons are-large" id="<%= dom_id hacker %>">
              <span class="tag">
                <%= hacker.decorate.readable_name %>
              </span>
              <%= link_to hacking_team_kick_path(@team, hacker), class: "tag is-danger is-light",
                  data: {turbo_confirm: "Are you sure you want to kick #{hacker.decorate.readable_name} from the team?", turbo_method: :delete} do %>
                <%= lucide_icon "user-x", class: 'icon dropdown-trigger' %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @pending_applications.any? && policy(@team).accept? %>
    <h2 class="is-size-4">Pending applications</h2>
    <div class="field is-grouped is-grouped-multiline">
      <% @pending_applications.each do |application| %>
        <div class="control">
          <div class="tags has-addons is-medium">
            <span class="tag">
              <%= application.user.decorate.readable_name %>
            </span>
            <% if application.user.hacking_team.present? %>
              <span class="tag is-light" data-tooltip="User is already a member of the <%= application.user.hacking_team.name %> team">
                <%= lucide_icon "check", class: 'icon is-small dropdown-trigger' %>
              </span>
            <% else %>
              <%= link_to hacking_team_accept_path(@team, application), data: {turbo_method: :post}, class: "tag is-success is-light" do %>
                <%= lucide_icon "check", class: 'icon is-small' %>
              <% end %>
            <% end %>
            <%= link_to hacking_team_reject_path(@team, application), data: {turbo_method: :delete}, class: "tag is-danger is-light" do %>
              <%= lucide_icon "x", class: 'icon is-small' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @rejected_applications.any? && policy(@team).accept? %>
    <div class="collapsible-container">
      <input type="checkbox" id="collapsible-toggle">
      <label for="collapsible-toggle" class="collapsible-label">
        <span class="is-size-5 has-text-weight-semibold">Rejected applications</span>
      </label>
      <div class="collapsible">

        <table class="table">
          <thead>
            <tr>
              <th>Hacker</th>
              <th>Rejected by</th>
              <th>Decided at</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @rejected_applications.each do |application| %>
              <tr>
                <td><%= application.user.decorate.readable_name %></td>
                <td><%= application.decided_by.decorate.readable_name %></td>
                <td><%= application.decided_at %></td>
                <td>
                  <%= link_to hacking_team_unreject_path(@team, application), data: {turbo_method: :post}, class: "button is-warning is-light is-small" do %>
                    <%= lucide_icon "archive-restore", class: 'icon is-small' %>
                    <span>Actually, let's think again</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
        </table>
      </div>
    </div>
  <% end %>

  <% if @team.submissions.present? %>
    <h2 class="is-size-4">Team's submissions</h2>
    <%= render @team.submissions %>
  <% end %>
</div>
