<div class="panel">
  <p class="panel-heading">
    <%= track_title %>
  </p>
  <% team.users.decorate.each do |user| %>
    <div class="panel-block is-block">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><%= user.readable_name %></div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <%= button_to admin_excellence_team_remove_user_path(team, user), method: :delete, class: 'button is-danger is-outlined is-small' do %>
              <span class="icon"><%= lucide_icon 'trash' %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if potential_judges.any? %>
    <div class="panel-block is-block">
      <%= form_with model: team.users.new, url: admin_excellence_team_user_path(team), method: :post do |f| %>
        <div class="field has-addons">
          <div class="control is-expanded">
            <div class="select is-fullwidth"><%= f.select :user_id, potential_judges.map { |judge| [judge.name, judge.id] }, include_blank: false, class: "select" %></div>
          </div>
          <div class="control">
            <%= f.submit 'Add', class: 'button is-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
