<div class="content">
  <h1 class="title">Please introduce yourself</h1>
  <div class="columns">
    <div class="column">
      <%= form_with model: @user, local: true do |form| %>
        <div class="field">
          <%= form.label :name, class: 'label' %>
          <div class="control"><%= form.text_field :name, class: 'input' %></div>
        </div>
        <div class="field">
          <%= form.label :email, class: 'label' %>
          <div class="control"><%= form.email_field :email, type: :email, class: 'input' %></div>
        </div>
        <div class="field"><%= form.submit class: %w[button is-primary]%></div>
      <% end %>
    </div>

    <div class="column is-4">
      <% if @user.approved? %>
        <h2 class="subtitle">Welcome to EthBerlin04!</h2>
        Your account had been verified at <span><%= local_time @user.approved_at %></span>
        <% if @user.approved_by.present? %>
          by <%= @user.approved_by.name %>
        <% elsif @ticket_invalidation.present? %>
          by presenting a ZuPass ticket <pre><%= @ticket_invalidation.ticket_id %></pre>
        <% end %>
      <% else %>
        <h2 class="subtitle">You need to be an approved hacker to participate in EthBerlin.</h2>
        <p>You can confirm your EthBerlin ticket by clicking the button:</p>
        <a class="button is-primary is-large" target="popup"
          href="<%= zupass_url(@user) %>"
          onclick="window.open(
            '<%= zupass_url(@user)%>',
            'popup','width=500,height=700'); return false;">
          <%= lucide_icon 'ticket', size: 64, class: 'icon' %>
          <span>Confirm my ticket<br/>via ZuPass</span>
        </a>
        <p>Alternatively, you can get in touch with EthBerlin team in-person, and we'll approve your profile.</p>

        <%= turbo_stream_from @user %>
      <% end %>
    </div>
  </div>
</div>
