<%= form_with(model: submission) do |form| %>
  <% if submission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if form.object.new_record? %>
    <% if current_user.hacking_teams.count > 1 %>
      <%= form.label :team, class: "label" %>
      <div class="control block">
        <div class="tabs is-toggle team-selector">
          <ul>
            <% current_user.hacking_teams.each_with_index do |team, i| %>
              <li>
                <%= form.radio_button :hacking_team, team.id, checked: i==0 %>
                <%= form.label dom_id(team) do %>
                  <a><%= team.name %></a>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% elsif current_user.hacking_teams.any? %>
      <h4 class="subtitle">Will be submitted by <%= link_to current_user.hacking_teams.first.name, current_user.hacking_teams.first %></h4>
    <% end %>
  <% else %>
    <h4 class="subtitle">Submitted by <%= link_to submission.hacking_team.name, submission.hacking_team %></h4>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <div class="control"><%= form.text_field :title, class: "input", placeholder: "Project's title" %></div>
  </div>

  <div class="field">
    <%= form.label :track, class: "label" %>
    <div class="control">
      <div class="select">
        <%= form.select :track, Submission::HUMAN_READABLE_TRACKS.map{|k,v| [v,k]}, class: "select" %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <div class="control"><%= form.text_area :description, class: "textarea", placeholder: "A brief explanation of what's the project is about" %></div>
  </div>

  <div class="field">
    <%= form.label :url, class: "label" %>
    <div class="control"><%= form.url_field :url, class: "input", placeholder: "Project's repo, e.g. on Github" %></div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= link_to "javascript:navigateBackOrUp()", class: "button is-light" do %>
        <%= lucide_icon "arrow-big-left", class: "icon is-small" %>
        <span>Back</span>
      <% end %>
    </div>
    <div class="control">
      <%= form.submit class: "button is-primary" %>
    </div>
  </div>
<% end %>
