<%= form_with(model: submission) do |form| %>
  <% if submission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <div class="control"><%= form.text_field :title, class: "input", placeholder: "Project's title" %></div>
  </div>

  <div class="field">
    <%= form.label :track, class: "label" %>
    <div class="control">
      <div class="select">
        <%= form.select :track, Submission::HUMAN_READABLE_TRACKS.map{|k,v| [v,k]}, class: "select" %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <div class="control"><%= form.text_area :description, class: "textarea", placeholder: "A brief explanation of what's the project is about" %></div>
  </div>

  <div class="field">
    <%= form.label :url, class: "label" %>
    <div class="control"><%= form.url_field :url, class: "input", placeholder: "Project's repo, e.g. on Github" %></div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= link_to "javascript:navigateBackOrUp()", class: "button is-light" do %>
        <%= lucide_icon "arrow-big-left", class: "icon is-small" %>
        <span>Back</span>
      <% end %>
    </div>
    <div class="control">
      <%= form.submit class: "button is-primary" %>
    </div>
  </div>
<% end %>
