<% cache submission do %>
  <div class="submission card" id="<%= dom_id submission %>">

    <header class="card-header">
      <p class="card-header-title title submission-title">
        <span><%= submission.title %></span>
        <span class="is-size-5 is-italic submission-track has-text-weight-normal has-text-success-dark">
          <%= lucide_icon Submission::TRACK_ICONS[submission.track], class: 'icon' %>
          <%= Submission::HUMAN_READABLE_TRACKS[submission.track] %>
          <% if submission.excellence_award_track.present? %>
            <br/>
            <span class="is-size-6 has-text-weight-normal has-text-info">
              <%= lucide_icon Submission::EXCELLENCE_TRACK_ICONS[submission.excellence_award_track], size: 12, class: 'icon is-small' %>
              <%= Submission::HUMAN_READABLE_EXCELLENCE_TRACKS[submission.excellence_award_track] %>
            </span>
          <% end %>
        </span>
        <% if submission&.judgement&.time.present? && %i[hacking judging].include?(Setting.hackathon_stage) %>
          <span class="is-size-6 ml-6 has-text-weight-normal">
            Demo at <%= submission.judgement.just_time %> in <%= submission.judgement.judging_team.location %>
          </span>
        <% end %>
      </p>
    </header>
    <div class="card-content">
      <div class="content description"><%= submission.decorate.formatted_description %></div>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item show-card">
        <%= link_to "Show details", submission, class: "button is-ghost" %>
      </div>
      <% if submission.hacking_team.present? %>
        <div class="card-footer-item">
          <%= link_to submission.hacking_team, class: "button is-ghost" do %>
            <%= lucide_icon 'users', class: 'icon is-small' %>
            <span><%= submission.hacking_team.name %></span>
          <% end %>
        </div>
      <% end %>

      <% if submission.repo_url.present? %>
        <div class="card-footer-item">
          <%= link_to submission.repo_url, target: "_blank", rel: "nofollow", class: "button is-ghost url" do %>
            <%= lucide_icon submission.decorate.repo_icon_class, class: 'icon is-small' %>
            <span><%= truncate submission.repo_url, length: 45, separator: /[\/\?\&\+]/ %></span>
          <% end %>
        </div>
      <% end %>

      <% if submission.pitchdeck_url.present? %>
        <div class="card-footer-item">
          <%= link_to submission.pitchdeck_url, target: "_blank", rel: "nofollow", class: "button is-ghost url" do %>
            <%= lucide_icon 'presentation', class: 'icon is-small' %>
            <span><%= truncate submission.pitchdeck_url, length: 45, separator: /[\/\?\&\+]/ %></span>
          <% end %>
        </div>
      <% end %>
    </footer>
  </div>
<% end %>
