<div id="<%= dom_id submission %>">
  <p>
    <strong>Title:</strong>
    <%= submission.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= submission.description %>
  </p>

  <% if submission.decorated? && submission.github_repo? %>
    <%= submission.github_repo_card %>
  <% else %>
    <p>
      <strong>Url:</strong>
      <%= link_to submission.url, submission.url, target: "_blank", rel: "nofollow" %>
    </p>
  <% end %>
</div>
