<tr id="<%= dom_id submission %>">
  <td class="submission-title"><strong><%= submission.title %></strong></td>
  <td class="description"><%= submission.description.truncate(350) %></td>
  <td class="url"><%= link_to submission.url, submission.url, target: '_blank' %></td>
  <td>
    <% if submission.judgement %>
      <%= link_to admin_judging_teams_path(id: submission.judgement.judging_team.id) do %>
        <span><%= submission.judgement.judging_team %></span>
        <% if submission.judgement.completed? %>
          <%= lucide_icon 'circle-check-big', class: 'icon is-small has-text-success' %>
          <span class="is-italic">judged at <%= submission.judgement.updated_at %></span>
        <% elsif submission.judgement.time %>
          <span class="is-italic">scheduled for <%= submission.judgement.time %></span>
        <% end %>
      <% end %>
    <% else %>
      <span class="is-italic">
        <%= lucide_icon Submission::TRACK_ICONS[submission.track], class: 'icon is-small' %>
        <%= Submission::HUMAN_READABLE_TRACKS[submission.track] %>
      </span>
    <% end %>
  </td>
  <td><%= link_to 'Show',
    submission.judgement ? judgement_path(submission.judgement) : submission_path(submission),
    class: 'button is-small' %></td>
</tr>
