<tr id="<%= dom_id submission %>">
  <td class="submission-title"><strong><%= link_to submission.title, submission %></strong></td>
  <td class="description"><%= submission.description.truncate(350) %></td>
  <td class="url is-size-7">
    <% if submission.repo_url.present? %>
      <p>
        <%= link_to submission.repo_url, target: '_blank', class: 'nowrap' do %>
          <%= lucide_icon submission.decorate.repo_icon_class, class: 'icon is-small' %>
          <span><%= truncate(submission.repo_url, length: 40) %></span>
        <% end %>
      </p>
    <% end %>
    <% if submission.pitchdeck_url.present? %>
      <p>
        <%= link_to submission.pitchdeck_url, target: '_blank', class: 'nowrap' do %>
          <%= lucide_icon 'presentation', class: 'icon is-small' %>
          <span><%= truncate(submission.pitchdeck_url, length: 40) %></span>
        <% end %>
      </p>
    <% end %>
  </td>
  <td>
    <% if submission.judgement.present? %>
      <% if %i[finalizing published].include? Setting.hackathon_stage %>
        <% if submission.judgement.no_show %>
          <%= lucide_icon 'ban', class: 'icon is-small has-text-danger' %>
          <span class="is-italic has-text-danger">no show at <%= local_time(submission.judgement.updated_at, "%H:%M") %></span>
        <% else %>
          <strong>
            <%= submission.judgement.total_score %>
            <% if !submission.judgement.completed? %>
              <span class="is-italic">(incomplete)</span>
            <% end %>
          </strong>
        <% end %>
        from<br/>
        <%= link_to admin_judging_teams_path(id: submission.judgement.judging_team.id) do %>
          <span><%= submission.judgement.judging_team %></span>
        <% end %>
      <% else %>
        <%= link_to admin_judging_teams_path(id: submission.judgement.judging_team.id) do %>
          <span><%= submission.judgement.judging_team %></span>
          <br/>
          <% if submission.judgement.no_show %>
            <%= lucide_icon 'ban', class: 'icon is-small has-text-danger' %>
            <span class="is-italic has-text-danger">no show at <%= local_time(submission.judgement.updated_at, "%H:%M") %></span>
          <% elsif submission.judgement.completed? %>
            <%= lucide_icon 'circle-check-big', class: 'icon is-small has-text-success' %>
            <span class="is-italic">judged at <%= local_time(submission.judgement.updated_at, "%H:%M") %></span>
          <% elsif submission.judgement.time %>
            <span class="is-italic">scheduled for <%= submission.judgement.just_time %></span>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <span class="is-italic">
        <%= lucide_icon Submission::TRACK_ICONS[submission.track], class: 'icon is-small' %>
        <%= Submission::HUMAN_READABLE_TRACKS[submission.track] %>
      </span>
    <% end %>
  </td>
  <td><%= link_to 'Show',
    submission.judgement ? judgement_path(submission.judgement) : submission_path(submission),
    class: 'button is-small' %></td>
</tr>
