<div class="level">
  <div class="level-left tile is-vertical">
    <h1 class="title">Submißions</h1>

    <% if current_user.try :judge? %>
      <h2 class="subtitle"><%= link_to "Proceed to voting", judgements_path %></h2>
    <% end %>
    <% if current_user.try :organizer? %>
      <h2 class="subtitle"><%= link_to "Admin panel", admin_root_path %></h2>
    <% end %>
  </div>

  <div class="level-right">
    <div class="level-item tile is-vertical">
      <p>
        Hello, <%= current_user.decorate.readable_name rescue 'Anonymous' %>!
        <% if current_user %>
          <%= link_to lucide_icon('user-cog', size: 16), edit_user_path(current_user), class: 'button is-white is-small' %>
        <% end %>
      </p>
      <% if !current_user %>
        <div data-controller="ethereum">
          <button data-action="click->ethereum#signin" class="button is-primary">Log in with Ethereum</button>
        </div>
      <% else %>
        <div>
          <%= button_to "Log out", sign_out_path, method: :delete, data: {turbo: false}, class: [:button, "is-warning", "is-light"] %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="submissions">
  <% @submissions.each do |submission| %>
    <div class="tile is-6 notification">
      <div>
        <%= render submission %>
        <p>
          <%= link_to "Show this submission", submission if policy(submission).show? %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New submission", new_submission_path %>
