<% if policy(Submission).results? %>
  <h2 class="title is-1"><%= link_to "Click here to see the track winners", results_submissions_path %></h2>
<% end %>

<% if @submissions.empty? %>
  <p class="is-size-4">No projects have been submitted yet.</p>
<% else %>
  <div id="submissions" data-controller="filterable-submissions">
    <div class="control has-icons-left mb-5">
      <input class="filter-input input search" type="text" placeholder="Filter" data-action="filterable-submissions#filter"/>
      <span class="icon is-left">
        <%= lucide_icon 'search', size: 16 %>
      </span>
    </div>

    <% cache @submissions do %>
      <div class="list">
        <%= render @submissions %>
      </div>
    <% end %>

  </div>
<% end %>

<div class="buttons mt-6">
  <% if policy(Submission).new? %>
    <%= link_to new_submission_path, class: "button is-primary is-large" do %>
      <%= lucide_icon 'badge-plus', class: "icon is-small" %>
      <span>Submit a project</span>
    <% end %>
  <% end %>
</div>
