<div class="content">
  <% if Setting.hackathon_stage == :finalizing %>
    <article class="message is-warning">
      <div class="message-body">
        <p>These are <span class="is-underlined">preliminary</span> results, which might still change (e.g. due to one of the teams being disqualified).</p>
        <p>Please don't share, communicate or discuss them, with an obvious exception of fellow judges and hackathon organizers.</p>
      </div>
    </article>
  <% end %>

  <div class="tabs is-toggle">
    <ul>
      <% Submission::HUMAN_READABLE_TRACKS.each do |key, track| %>
        <li class="tab <%= 'is-active' if @track==key %>"><%= link_to track, results_submissions_path(track: key) %></li>
      <% end %>
    </ul>
  </div>

  <table>
    <thead>
       <th><abbr title="Position">Pos</abbr></th>
       <th>Project</th>
       <th>Team</th>
       <th>Total score</th>
    </thead>
    <% @submissions.each_with_index do |submission, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= link_to submission.title, submission %></td>
        <td><%= submission.hacking_team.name %></td>
        <td><%= submission.judgement.total_score %></td>
      </tr>
    <% end %>
  </table>
</div>
