<div class="content">
  <% if Setting.hackathon_stage == :finalizing %>
    <article class="message is-warning">
      <div class="message-body">
        <p>These are <span class="is-underlined">preliminary</span> results, which might still change (e.g. due to one of the teams being disqualified).</p>
        <p>Please don't share, communicate or discuss them, with an obvious exception of fellow judges and hackathon organizers.</p>
      </div>
    </article>
  <% end %>

  <h1 class="title is-3">Winners</h1>
  <p class="subtitle is-6 is-italic"><%= link_to "Browse all submissions", submissions_path %></p>

  <% @results.each do |track, winners| %>
    <h2 class="title is-4"><%= Submission::HUMAN_READABLE_TRACKS[track] %></h2>
    <div class="columns is-multiline">
      <% winners.each_with_index do |submission, i| %>
        <div class="column is-4">
          <div class="card is-light">
              <div class="card-header">
                <div class="card-header-title %>"><%= i + 1 %>.&nbsp;
                  <%= link_to submission.title, submission %>
                </div>

                <% if i == 0 %>
                  <div class="card-header-icon">
                    <%= lucide_icon 'medal' %>
                  </div>
                <% end %>
              </div>
            <div class="card-content">
              <p class="subtitle is-6">
                <%= lucide_icon 'users', size: 16 %>
                <%= submission.hacking_team.name %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <hr>

  <h2 class="title is-4">Excellence Awards</h2>
  <% @excellence_awards.each do |track, submission| %>
    <h3 class="title is-5"><%= Submission::HUMAN_READABLE_EXCELLENCE_TRACKS[track] %></h3>
    <% if submission.present? %>
      <div class="columns">
        <div class="column is-4">
          <div class="card is-light">
            <div class="card-header">
              <div class="card-header-title"><%= link_to submission.title, submission %></div>
              <div class="card-header-icon">
                <%= lucide_icon 'award' %>
              </div>
            </div>
            <div class="card-content">
              <p class="subtitle is-6">
                <%= lucide_icon 'users', size: 16 %>
                <%= submission.hacking_team.name %>
              </p></div>
          </div>
        </div>
      </div>
    <% else %>
      <p class="subtitle is-6">No award given.</p>
    <% end %>
  <% end %>
</div>
