<div class="submission-display"><%= render @submission %></div>

<div class="buttons mt-5">
  <%= link_to "javascript:navigateBackOrUp()", class: "button is-light" do %>
    <%= lucide_icon "arrow-big-left", class: 'icon is-small' %>
    <span>Back</span>
  <% end %>
  <% if policy(@submission).update? %>
    <%= link_to edit_submission_path(@submission), class: "button is-light is-link" do %>
      <%= lucide_icon "edit", class: 'icon is-small' %>
      <span>Edit this submission</span>
    <% end %>
  <% elsif current_user&.hacker? && %i[judging finalizing].include?(Setting.hackathon_stage) %>
    <a class="button" disabled>
      <%= lucide_icon "lock", class: 'icon is-small' %>
      <span>Judging has already started, submissions cannot be edited anymore.</span>
    </a>
  <% end %>
  <%= button_to "Destroy this submission", @submission, method: :delete, class: "button is-danger" if policy(@submission).destroy? %>
</div>

<% if policy(SubmissionComment).show? %>
  <div id="<%= dom_id(@submission, :comments) %>" class="panel is-light">
    <p class="panel-heading">Comments <span class="has-text-weight-normal has-text-grey is-size-6">(only visible to other judges and hackathon organizers)</span></p>
    <%= render @submission.comments %>

    <% if policy(@new_comment).create? %>
      <%= render "submission_comments/form", submission_comment: @new_comment %>
    <% end %>
  </div>


  <%= turbo_stream_from @submission, :comments %>
<% end %>
