<div class="container">
  <h1 class="title">Edit Judging Team #<%=@judging_team.id%></h1>

  <%= form_for @judging_team, url: admin_judging_team_path(@judging_team), method: :patch do |f| %>

    <div class="field">
      <%= f.label :track, class: "label" %>
      <div class="control">
        <div class="select">
          <%= f.select :track, JudgingTeam.tracks.keys, class: "select" %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :technical_judge, class: "label" %>
      <div class="control">
        <div class="select">
          <%= f.select :technical_judge_id, @judges.map { |judge| [judge.name, judge.id] }, class: "select" %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :product_judge, class: "label" %>
      <div class="control">
        <div class="select">
          <%= f.select :product_judge_id, @judges.map { |judge| [judge.name, judge.id] }, class: "select" %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :concept_judge, class: "label" %>
      <div class="control">
        <div class="select">
          <%= f.select :concept_judge_id, @judges.map { |judge| [judge.name, judge.id] }, class: "select" %>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= link_to "â† Back to Judging Teams", admin_judging_teams_path, class: "button is-light" %>
      </div>
      <div class="control">
        <%= f.submit "Update", class: "button is-primary" %>
      </div>
    </div>
  <% end %>
</div>
