<div class="content">
  <div class="panel">
    <div class="panel-heading">Judging Teams</div>
    <div class="panel-tabs">
      <% @judging_teams.each do |team| %>
        <%= link_to team.decorate.track_name, admin_judging_teams_path(id: team.id), class: class_names("is-active" => team==@current_team) %>
      <% end %>
    </div>

    <div class="panel-block is-block judging-team">
      <div class="columns">
        <div class="column is-offset-4"><%= @current_team.technical_judge ? link_to(@current_team.technical_judge.name, edit_admin_user_path(@current_team.technical_judge)) : '--' %></div>
        <div class="column"><%= @current_team.product_judge ? link_to(@current_team.product_judge.name, edit_admin_user_path(@current_team.product_judge)) : '--' %></div>
        <div class="column"><%= @current_team.concept_judge ? link_to(@current_team.concept_judge.name, edit_admin_user_path(@current_team.concept_judge)) : '--' %></div>
        <div class="column is-1">
          <%= link_to "Edit", edit_admin_judging_team_path(@current_team), class: ['button', 'is-light', 'is-pulled-right'] %>
        </div>
      </div>
    </div>

    <table class="table is-fullwidth">
      <tbody id="<%= dom_id(@current_team, :judgements) %>">
        <%= render @judgements %>
      </tbody>
    </table>
  </div>

  <%= link_to "New Judging Team", new_admin_judging_team_path, class: ['button', 'is-primary'] %>

  <%= turbo_stream_from @current_team, :judgements %>

</div>
