<%= form_with model: [:admin, @user], class: 'is-block' do |form| %>
  <div class="field">
    <div class="label">Name</div>
    <div class="control">
      <%= form.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <div class="label">Email</div>
    <div class="control"><%= form.text_field :email, as: :email, type: :email, class: 'input' %></div>
  </div>

  <div class="field">
    <div class="label">Role</div>
    <div class="control">
      <% if @user.current_user? %>
        <fieldset disabled>
      <% end %>

      <div class="select">
        <%= form.select :kind, User.kinds.values, include_blank: false %>
      </div>

      <% if @user.current_user? %>
        </fieldset>
      <% end %>
    </div>
  </div>

  <% if @user.hacker? && @user.hacking_teams.any? %>
    <div class="content">
      <div class="label">Hacking teams:</div>
      <div class="tags">
        <% @user.hacking_teams.each do |team| %>
          <%= link_to team.name, hacking_team_path(id: team.id), class: "tag is-success is-light" %>
        <% end %>
      </div>
    </div>
  <% elsif @user.judge? && @user.judging_team %>
    <div class="content">
      <div class="label">Judging team</div>
      <%= link_to @user.judging_team, admin_judging_teams_path(id: @user.judging_team.id) %></li>
    </div>
  <% end %>

  <div class="content">
    <% if @user.approved? %>
      <h2 class="title is-4">Approved at:</h2>
      <p><%= @user.approved_at %></p>
      <% if @user.approved_by.present? %>
        <h2 class="title is-4">Manually approved by:</h2>
        <p><%= @user.approved_by.name %></p>
      <% end %>
      <%= link_to admin_user_unapprove_path(@user), data: {turbo_method: :delete}, class: ['button', 'is-danger'] do %>
        <%= lucide_icon "ticket-x", class: "icon" %>
        <span>Revoke approval</span>
      <% end %>
    <% else %>
      <%= link_to admin_user_approve_path(@user), data: {turbo_method: :patch}, class: ['button', 'is-warning'] do %>
        <%= lucide_icon "ticket-check", class: "icon" %>
        <span>Approve manually</span>
      <% end %>
    <% end %>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= link_to "javascript:navigateBackOrUp()", class: "button is-light" do %>
        <%= lucide_icon "arrow-big-left", class: "icon is-small" %>
        <span>Back</span>
      <% end %>
    </div>
    <div class="control">
      <%= form.submit class: ['button', 'is-primary'] %>
    </div>
  </div>
<% end %>
