<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Super Admin</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tr class="<%= class_names( "is-selected" => user.id == current_user.id ) %>">
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.super_admin? %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
      <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } unless user.id == current_user.id %></td>
    </tr>
  <% end %>
</table>
