<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Ethereum address</th>
      <th>Type</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tr class="<%= class_names( "is-selected" => user.id == current_user.id ) %>">
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td><%= user.ethereum_addresses.pluck(:address).join(", ") %></td>
      <td><%= user.kind %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
      <td><%= button_to lucide_icon('trash-2', size:9), admin_user_path(user), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: %w[button is-small is-danger is-outlined] unless user.id == current_user.id %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New User', new_admin_user_path %>
