<nav class="panel is-info admin-users-ui" data-controller="filterable-users">
  <p class="panel-heading">Users</p>
  <p class="panel-tabs">
    <%= link_to admin_users_path, class: class_names("is-active" => params[:role].blank?) do %>
      All
    <% end %>
    <%= link_to admin_users_path(role: :hacker), class: class_names("is-active" => params[:role]=='hacker') do %>
      Hackers
    <% end %>
    <%= link_to admin_users_path(role: :judge), class: class_names("is-active" => params[:role]=='judge') do %>
      Judges
    <% end %>
    <%= link_to admin_users_path(role: :organizer), class: class_names("is-active" => params[:role]=='organizer') do %>
      Organizers
    <% end %>
  </p>
  <div class="panel-block">
    <div class="control has-icons-left">
      <input class="input" type="text" placeholder="Filter" data-action="filterable-users#filter"/>
      <span class="icon is-left">
        <%= lucide_icon 'search', size: 16 %>
      </span>
    </div>
  </div>

  <div class="users-list list">
    <% @users.each do |user| %>
      <%= link_to (user.current_user? ? edit_user_path(current_user) : edit_admin_user_path(user)), class: class_names("panel-block" => true, "is-active" => user.current_user?) do %>
        <span class="panel-icon">
          <%= lucide_icon user.role_icon, size: 16 %>
        </span>
        <span class="name"><%= user.name %></span>
        <span class="email"><%= user.email %></span>
        <span class="ethereum-addresses"><%= user.rendered_ethereum_addresses %></span>
        </span>
      <% end %>
    <% end %>
  </div>
</nav>

<%= link_to 'New User', new_admin_user_path(role: params[:role]) %>
