<div class="content">
  <div class="columns">
    <div class="column">
      <%= link_to admin_submissions_path, class: ['button', 'is-info', 'is-light', 'is-large'] do %>
        <%= lucide_icon 'square-stack', class: 'icon is-large' %>
        <span><%= pluralize Submission.count, 'Submission' %></span>
      <% end %>
    </div>
    <div class="column">
      <%= link_to admin_users_path(role: :hacker), class: ['button', 'is-light', 'is-large', 'block'] do %>
        <%= lucide_icon 'users', class: 'icon is-large' %>
        <span><%= pluralize User.hacker.count, 'Hacker' %></span>
      <% end %>
      <div class="is-size-7 block">
        <p class="is-italic">Plus <%= link_to pluralize(User.judge.count, 'Judge'), admin_users_path(role: :judge) %> and <%= link_to pluralize(User.organizer.count, 'Organizer'), admin_users_path(role: :organizer) %></p>
        <p><%= link_to pluralize(User.approval_pending.count, 'application'), admin_users_path(role: :unapproved) %> pending approval</p>
      </div>
      <%= link_to hacking_teams_path, class: ['button', 'is-success', 'is-light', 'is-large', 'block'] do %>
        <%= lucide_icon 'ungroup', class: 'icon is-large' %>
        <span><%= pluralize HackingTeam.count, 'Hacking Team' %></span>
      <% end %>
    </div>
    <div class="column">
      <%= link_to admin_judging_teams_path, class: ['button', 'is-warning', 'is-light', 'is-large', 'block'] do %>
        <%= lucide_icon 'group', class: 'icon is-large' %>
        <span><%= pluralize JudgingTeam.count, 'Judging Team' %></span>
      <% end %>
    </div>
  </div>


  <div class="hero is-medium">
    <div class="hero-body">
      <div class="block columns">
        <div class="column">
          <p class="subtitle">Current stage:</p>
          <p class="title"><%= Setting.hackathon_stage.capitalize %></p>
        </div>
        <div class="column">
          <% if Setting.hackathon_stage != :finalizing %>
            <%= button_to admin_update_stage_path(hackathon_stage: Setting.next_hackathon_stage), method: :patch, class: ['button', 'is-danger', 'is-outlined', 'is-flex-direction-column'], data: {turbo_method: :patch, turbo_confirm: "Are you sure?"} do %>
              <span>Advance to the</span>
              <span class="is-size-3"><%= Setting.next_hackathon_stage.capitalize %></span>
              <p>stage</p>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="block">
        <p class="subtitle">On Sunday, judging is scheduled to begin at:</p>
        <p class="title"><%= Setting.judging_start_time %></p>
      </div>
      <%= link_to admin_settings_path, class: ['button', 'is-danger', 'is-light'] do %>
        <%= lucide_icon 'settings', class: 'icon' %>
        <span>Settings</span>
      <% end %>
    </div>
  </div>
</div>
