<div class="content">
  <div class="columns">
    <div class="column">
      <%= link_to admin_submissions_path, class: ['button', 'is-info', 'is-light', 'is-large'] do %>
        <%= lucide_icon 'square-stack', class: 'icon is-large' %>
        <span><%= pluralize Submission.count, 'Submission' %></span>
      <% end %>
    </div>
    <div class="column">
      <%= link_to admin_users_path, class: ['button', 'is-light', 'is-large'] do %>
        <%= lucide_icon 'users', class: 'icon is-large' %>
        <span><%= pluralize User.hacker.count, 'Hacker' %></span>
      <% end %>
      <div class="is-size-7 is-italic">
        Plus <%= pluralize User.judge.count, 'Judge' %> and <%= pluralize User.organizer.count, 'Organizer' %>
      </div>
    </div>
    <div class="column">
      <%= link_to admin_judging_teams_path, class: ['button', 'is-warning', 'is-light', 'is-large'] do %>
        <%= lucide_icon 'group', class: 'icon is-large' %>
        <span><%= JudgingTeam.count %> Judging Teams</span>
      <% end %>
    </div>
  </div>
</div>
