<div id="<%= dom_id vote, :editable %>">
  <p>
    <%= kind.to_s.titleize %>
  </p>
  <p><em>
    <%= vote.user.decorate.readable_name %>
  </em></p>

  <% if vote.completed %>
    <%= lucide_icon "circle-check-big", class: "has-text-success" %>
  <% end %>

  <div data-controller="vote" data-vote-path-value="<%= vote_path(vote) %>">
    <input type="range" min="0" max="100" step="0.1" value="<%= vote.mark %>" data-vote-target="slider" data-action="input->vote#handleUpdate">
    <span data-vote-target="field"><%= vote.mark %></span>
  </div>

  <%= button_to "Complete", complete_vote_path(vote), class: ["button", !vote.completed ? "is-primary" : nil], data: { turbo_frame: dom_id(vote) } %>
</div>
