<div class="content admin-submissions-ui" data-controller="filterable-submissions">
  <div class="columns admin-submissions-header">
    <div class="column">
      <div class="tabs is-toggle">
        <ul>
          <li class="tab <%= 'is-active' unless params[:track].present? %>"><%= link_to 'All', admin_submissions_path %></li>
          <% Submission::HUMAN_READABLE_TRACKS.each do |key, track| %>
            <li class="tab <%= 'is-active' if params[:track]==key %>"><%= link_to track, admin_submissions_path(track: key) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="column is-3">
      <div class="control has-icons-left">
        <input class="filter-input input search" type="text" placeholder="Filter" data-action="filterable-submissions#filter"/>
        <span class="icon is-left">
          <%= lucide_icon 'search', size: 16 %>
        </span>
      </div>
    </div>
  </div>

  <table class="table is-hoverable is-fullwidth">
    <colgroup>
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 45%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 5%;">
    </colgroup>

    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>URL</th>
        <th>Track/team</th>
        <th></th>
      </tr>
    </thead>

    <tbody class="list" id="submissions">
      <%= render collection: @submissions, partial: 'submissions/tr', as: :submission %>
    </tbody>
  </table>

<div class="block">
  <% if @unassigned_count > 0 %>
    <%= link_to admin_reschedule_path, class: 'button is-warning is-light', data: { turbo_method: :post } do %>
      <%= lucide_icon 'calendar', size: 16 %>
      <span>Schedule <%= pluralize @unassigned_count, 'remaining submission' %></span>
    <% end %>
  <% end %>

  <div class="collapsible-container">
    <input type="checkbox" id="collapsible-toggle">
    <label for="collapsible-toggle" class="collapsible-label">
      <span class="is-size-5 has-text-weight-semibold">Danger zone</span>
    </label>
    <div class="collapsible">
      <%= link_to admin_reschedule_path(force: true), class: 'button is-danger is-light', data: { turbo_method: :post, turbo_confirm: "Are you sure? This might change sessions order, time or team assignment." } do %>
        <%= lucide_icon 'calendar', size: 16 %>
        <span>Recalculate all schedules</span>
      <% end %>
    </div>
  </div>
</div>

</div>


<%= turbo_stream_from 'submissions' %>
