<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Submissions</title>
    <link
      rel="shortcut icon"
      type="image/svg+xml"
      href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1sYW5kLXBsb3QiPjxwYXRoIGQ9Im0xMiA4IDYtMy02LTN2MTAiLz48cGF0aCBkPSJtOCAxMS45OS01LjUgMy4xNGExIDEgMCAwIDAgMCAxLjc0bDguNSA0Ljg2YTIgMiAwIDAgMCAyIDBsOC41LTQuODZhMSAxIDAgMCAwIDAtMS43NEwxNiAxMiIvPjxwYXRoIGQ9Im02LjQ5IDEyLjg1IDExLjAyIDYuMyIvPjxwYXRoIGQ9Ik0xNy41MSAxMi44NSA2LjUgMTkuMTUiLz48L3N2Zz4="
      >

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script>
      const CURRENT_USER_ROLE = "<%= current_user.try :kind %>";
    </script>
  </head>

  <body id="body">
    <nav class="navbar has-shadow <%= current_user.try :navbar_class %>" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" id="navbar-logo-header" data-turbo="false" href="/">
          <%= lucide_icon "land-plot", size: 28, "stroke-width": 1.6 %>
          <span>Submißions</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="submissionsNavbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="submissionsNavbar" class="navbar-menu">
        <div class="navbar-start">
          <% if current_user&.organizer? %>
            <div class="navbar-item">
              <a class="button is-info is-inverted <%= active_class(admin_root_path) %>" href="<%= admin_root_path %>">
                <%= lucide_icon 'shield-check', class: "icon is-small" %>
                <span>Admin dashboard</span>
              </a>
            </div>
          <% elsif current_user&.judge? %>
            <% if current_user.judging_team.present? %>
              <%= render 'layouts/judging_header', team: current_user.judging_team %>
            <% end %>

          <% else %>
            <% if policy(Submission).create? %>
              <div class="navbar-item">
                <a class="button has-text-primary-dark has-text-weight-bold has-background-primary-light" href="<%= new_submission_path %>">
                  <%= lucide_icon 'badge-plus', class: "icon is-small" %>
                  <span>Submit a project</span>
                </a>
              </div>
            <% end %>
            <a class="navbar-item is-tab <%= active_class(submissions_path) %>" href="<%= submissions_path %>">
              Browse projects
            </a>
            <a class="navbar-item is-tab <%= active_class(hacking_teams_path) %>" href="<%= hacking_teams_path %>">
              Hacking teams
            </a>
          <% end %>
        </div>

        <div class="navbar-end">
          <% if current_user %>
            <% if current_user.judge? && Setting.hackathon_stage == :judging %>
              <div class="navbar-item" id="clock">
                <div class="tag is-warning is-light is-large">
                  <%= lucide_icon 'clock', size: 16, class: "icon is-small" %>
                  <div class="time" data-controller="time" data-time-timestamp-value="<%= Time.now.to_i %>">
                    <span data-time-target="hours"><%= Time.now.strftime("%H") %></span>
                    <span class="blink">:</span>
                    <span data-time-target="minutes"><%= Time.now.strftime("%M") %></span>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="navbar-item has-dropdown is-hoverable">
              <a href="" class="navbar-link">
                Hello, <%= current_user.readable_name %>!
              </a>

              <div class="navbar-dropdown is-right">
                <%= link_to edit_user_path(current_user), class: ["navbar-item", active_class(edit_user_path(current_user))] do %>
                  <%= lucide_icon 'user-cog', size: 16, class: "icon is-small" %>
                  <span>Edit user profile</span>
                <% end %>
                <%= link_to sign_out_path, data: {turbo_method: :delete}, class: 'navbar-item is-warning is-light' do %>
                  <%= lucide_icon 'log-out', size: 16, class: "icon is-small" %>
                  <span>Log out</span>
                <% end %>
              </div>

            </div>
          <% else %>
            <div class="navbar-item">
              <div class="buttons">
                <div data-controller="ethereum">
                  <button data-action="click->ethereum#signin" class="button is-primary">Log in with Ethereum</button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
          <% flash.each do |type, msg| %>
            <div class="notification is-light <%= type == "notice" ? "is-success" : "is-danger" %>">
              <button class="delete"></button>
              <%= msg %>
            </div>
          <% end %>
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
